{% extends 'base.html.twig' %}

{% block title %}Edit BetGame
{% endblock %}

{% block body %}
	<h1>Edit BetGame</h1>

	{{ include('bet_game/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('bet_game_index',{'bet':  betGame.betDate.bet.id,'numberDate': betGame.betDate.date.number}) }}">back to list</a>
{% endblock %}
