{% extends 'base.html.twig' %}

{% block title %}BetGame index
{% endblock %}

{% block body %}
    <h1>BetGame index - Fecha n°
        {{ date.number }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Local</th>
            <th>Resultado</th>
            <th>Resultado</th>
            <th>Visitante</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for betGame in betGames %}
            <tr>
                <td>{{ betGame.game.local.name }}</td>
                <td>{{ betGame.localResult }}</td>
                <td>{{ betGame.awayResult }}</td>
                <td>{{ betGame.game.away.name }}</td>
                {% if betGame.canBeModified(betDate.user) %}
                    <td>
                        <a href="{{ path('bet_game_edit', {'betGame': betGame.id}) }}">edit</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if betDate.checkTimeToEdit() %}
        <a href="{{ path('bet_game_new', {'bet': bet.id,'numberDate':date.number}) }}">Create new</a>
    {% endif %}
{% endblock %}
