{% extends 'base.html.twig' %}

{% block title %}New BetGame
{% endblock %}

{% block body %}
	<h1>Create new BetGame - Fecha n°
		{{ date.number }}
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Local</th>
				<th>Resultado</th>
				<th>Resultado</th>
				<th>Visitante</th>
			</tr>
		</thead>
		<tbody>
			{% for betGame in betGames %}
				<tr>
					<td>{{ betGame.game.local.name }}</td>
					<td>{{ betGame.localResult }}</td>
					<td>{{ betGame.awayResult }}</td>
					<td>{{ betGame.game.away.name }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/><br/>
	{{ include('bet_game/_form.html.twig') }}<a href="{{ path('bet_game_index', {'bet': bet.id}) }}">back to list</a>
{% endblock %}
