{% extends 'base.html.twig' %}

{% block title %}HomeController
{% endblock %}

{% block body %}
    <h1>Hello
        {{ controller_name }}! ✅</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Detail</th>
            <th>IsCorrect</th>
            <th>IsActive</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for bet in bets %}
            <tr>
                <td>{{ bet.id }}</td>
                <td>{{ bet.name }}</td>
                <td>
                    <a href="{{ path('bet_inscription', {'bet': bet.id}) }}">inscribirse</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}