<form method="post" action="{{ path('bet_extra_user_delete', {'id': bet_extra_user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bet_extra_user.id) }}">
    <button class="btn">Delete</button>
</form>
