{% extends 'base.html.twig' %}

{% block title %}Edit BetExtraUser{% endblock %}

{% block body %}
    <h1>Edit BetExtraUser</h1>

    {{ include('bet_extra_user/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('bet_extra_user/_delete_form.html.twig') }}
{% endblock %}
