{% extends 'base.html.twig' %}

{% block title %}BetExtraUser index
{% endblock %}

{% block body %}
	<h1>BetExtraUser index</h1>
	{% for participant in participants %}
		<a href="{{ path('bet_extra_user_index', {'bet': bet.id,'user': participant.id}) }}">{{participant.participant.username}}</a>
	{% endfor %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Detail</th>
				<th>IsCorrect</th>
				<th>IsActive</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for bet_extra_user in bet_extra_users %}
				<tr>
					<td>{{ bet_extra_user.id }}</td>
					<td>{{ bet_extra_user.detail }}</td>
					<td>{{ bet_extra_user.isCorrect ? 'Yes' : 'No' }}</td>
					<td>{{ bet_extra_user.isActive ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('bet_extra_user_edit', {'betExtraUser': bet_extra_user.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('bet_extra_user_new',{'bet':bet.id}) }}">Create new</a>
{% endblock %}
