{% extends 'base.html.twig' %}

{% block title %}New BetExtraUser
{% endblock %}

{% block body %}
	<h1>Create new BetExtraUser</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Detalle</th>
				<th>Real</th>
			</tr>
		</thead>
		<tbody>
			{% for bet_extra_user in betExtrasUser %}
				<tr>
					<td>{{ bet_extra_user.betExtra.detail }}</td>
					<td>{{ bet_extra_user.detail }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/><br/>
	{{ bet_extra_user.betExtra.detail }}<br/>
	{{ bet_extra_user.betExtra.description }}<br/><br/>
	{{ include('bet_extra_user/_form.html.twig') }}

	<a href="{{ path('bet_extra_user_index', {'bet': bet.id}) }}">back to list</a>
{% endblock %}
