{% extends 'base.html.twig' %}

{% block title %}BetExtraUser{% endblock %}

{% block body %}
    <h1>BetExtraUser</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet_extra_user.id }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ bet_extra_user.detail }}</td>
            </tr>
            <tr>
                <th>IsCorrect</th>
                <td>{{ bet_extra_user.isCorrect ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ bet_extra_user.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bet_extra_user_index') }}">back to list</a>

    <a href="{{ path('bet_extra_user_edit', {'id': bet_extra_user.id}) }}">edit</a>

    {{ include('bet_extra_user/_delete_form.html.twig') }}
{% endblock %}
