{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Reset your password</h1>

    {{ form_start(changeForm) }}
        {{ form_row(changeForm.passwordOld) }}
        {{ form_row(changeForm.password) }}
        <button class="btn btn-primary">Change password</button>
    {{ form_end(changeForm) }}
{% endblock %}
