{% extends 'base.html.twig' %}

{% block title %}BettingPositionsController
{% endblock %}

{% block body %}
	<h1>Positions participants</h1>
	<a href="{{ path('betting_positions_index', {'bet': bet.id}) }}">General</a>
	<a href="{{ path('betting_positions_index', {'bet': bet.id, 'date':'actual'}) }}">Actual</a>
	<a href="{{ path('betting_positions_index', {'bet': bet.id, 'date':1}) }}">Especifica</a>
	<table class="table">
		<thead>
			<tr>
				<th>Participant</th>
				<th>Points</th>
				<th>Date win</th>
				<th>RE</th>
				<th>RR</th>
				<th>RP</th>
				<th>Points extras</th>
			</tr>
		</thead>
		<tbody>
			{% for position in bettingPositions %}
				<td>{{ position.participant.username }}
					{% if(position.isChampion(position.participant)) %}
						<p>Champion</p>
					{% endif %}
					{% if(position.isDateWin()) %}
						<p>DateWin</p>
					{% endif %}
				</td>
				<td>{{ position.points }}</td>
				<td>{{ position.numberOfDatesWon }}</td>
				<td>{{ position.resultsEmbodiesExacts }}</td>
				<td>{{ position.resultsEmbodiesOnly }}</td>
				<td>{{ position.resultsFailed }}</td>
				<td>{{ position.pointsExtras }}</td>
			</tbody>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% endblock %}
