{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!
{% endblock %}

{% block body %}
	{% for message in app.flashes('exito') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	{{ form_end(form) }}
	{# {{ form(form) }} #}
{% endblock %}
