<form method="post" action="{{ path('bet_extra_delete', {'betExtra': bet_extra.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bet_extra.id) }}">
    <button class="btn">Delete</button>
</form>
