{% extends 'base.html.twig' %}

{% block title %}New BetExtra
{% endblock %}

{% block body %}
	<h1>Create new BetExtra</h1>

	{{ include('bet_extra/_form.html.twig') }}

	{% if bet_extra.id  %}
		{{ include('bet_extra/_delete_form.html.twig') }}
	{% endif %}

	<a href="{{ path('bet_new', {'bet': bet.id}) }}">Back</a>
	<a href="{{ path('bet_confirm', {'bet': bet.id}) }}">Next</a>

	<table class="table">
		<thead>
			<tr>
				<th>Number</th>
				<th>Detail</th>
				<th>Description</th>
				<th>Is Complete</th>
				<th>Value</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			{% for bet_extra in bet_extras %}
				<tr>
					<td>1</td>
					<td>{{ bet_extra.detail }}</td>
					<td>{{ bet_extra.description }}</td>
					<td>{{ bet_extra.isComplete }}</td>
					<td>{{ bet_extra.value }}</td>
					<td>
						<a href="{{ path('bet_extra_edit', {'bet': bet.id,'betExtra': bet_extra.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
