<form method="post" action="{{ path('bet_delete', {'bet': bet.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bet.id) }}">
    <button class="btn">Delete</button>
</form>
