{% extends 'base.html.twig' %}

{% block title %}
	New Bet
{% endblock %}

{% block body %}
	<h1>Confirm new Bet</h1>
	<label>
		<strong>Nombre de apuesta:</strong>
		{{bet.name}}</label><br/>
	<label>
		<strong>Fecha de cierre:</strong>
		{{bet.expirationRate|date("m/d/Y")}}</label><br/>
	<label>
		<strong>Puntos por resultados exactos:</strong>
		{{bet.pointsForExactGames}}</label><br/>
	<label>
		<strong>Puntos por solo resultados:</strong>
		{{bet.pointsByResultOnly}}</label><br/>
	<label>
		<strong>Puntos por resultados fallidos:</strong>
		{{bet.pointsPerMissedGame}}</label><br/>
	<label>
		<strong>Fecha de cierre de los extras:</strong>
		{{bet.dateExtraLimitAt|date("m/d/Y")}}</label><br/>
	<label>
		<strong>Apuesta simbolica:</strong>
		{{bet.symbolicBet}}</label><br/>
	<label>
		<strong>Torneo:</strong>
		{{bet.tournament.name}}</label><br/><br/><br/>
	<table class="table">
		<thead>
			<tr>
				<th>Number</th>
				<th>Detail</th>
				<th>Description</th>
				<th>Is Complete</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			{% for bet_extra in bet_extras %}
				<tr>
					<td>1</td>
					<td>{{ bet_extra.detail }}</td>
					<td>{{ bet_extra.description }}</td>
					<td>{{ bet_extra.isComplete }}</td>
					<td>{{ bet_extra.value }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br/><br/><br/>
	<a href="{{ path('bet_extra_new',{'bet': bet.id}) }}">Back</a>
	<a href="{{ path('bet_store',{'bet': bet.id}) }}">Confirm</a>
{% endblock %}
