{% extends 'base.html.twig' %}

{% block title %}
    New Bet
{% endblock %}

{% block body %}
    <h1>Create new Bet</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Torneos guardados</th>
        </tr>
        </thead>
        <tbody>
        {% for betInActive in betsInActive %}
            <tr>
                <td>{{ betInActive.name }}
                    <a href="{{ path('bet_new',{'bet': betInActive.id}) }}">Activar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <br/>
    {{ include('bet/_form.html.twig') }}
    {% if bet.isBetNew() %}
        {{ include('bet/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
