{% extends 'base.html.twig' %}

{% block title %}BetExtraUser{% endblock %}

{% block body %}
    <h1>Bet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bet.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bet.name }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ bet.state }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ bet.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('bet/_delete_form.html.twig') }}
{% endblock %}
