{% extends 'base.html.twig' %}

{% block title %}Hello MailerController!
{% endblock %}

{% block body %}
	<h1>Hello
		{{ controller_name }}! ✅</h1>
	{% for message in app.flashes('exito') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
    {% for message in app.flashes('avisoEmail') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
{% endblock %}
