<h1>Bienvenido estimado usuario a FutFun:<br /><br /></h1>
<p>Gracias por elegir nuestro sitio, ojala su permanecia sea
lo mas placentera y exitosa posible</p><br />
<p>Para seguir con el proceso de activación del usuario
tiene que acceder a este link:</p><br /><br />
<a href='{{ token }}'>Ir a activar usuario</a><br /><br />
<p>Muchas gracias y los mejores deseos de parte del equipo de FutFun</p><br />